extends ./layout/common

block header
    include ./includes/header
    .container.mt-5.pt-5
        include ./includes/slider
        include ./includes/anime-update
        include ./includes/pagination
        include ./includes/anime-all
        include ./includes/pagination